<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Cliente</title>
    <link rel="stylesheet" href="cliente-form.component.css">
</head>
<body>
    <div class="container">
        <h1>Cadastro de Cliente</h1>
        <form [formGroup]="formulario">
            <label for="clienteTipo">Tipo:</label>
            <select id="tipo" formControlName="tipo">
                <option value="pessoa_fisica">Pessoa Física</option>
                <option value="pessoa_juridica">Pessoa Jurídica</option>
            </select>

            <label for="documento">Documento:</label>
            <input type="text" id="documento" formControlName="documento" required>

            <label for="razaoSocial">Razão Social:</label>
            <input type="text" id="nome" formControlName="nome">

            <label for="nomeFantasia">Nome Fantasia:</label>
            <input type="text" id="nomeFantasia" formControlName="nomeFantasia">

            <label for="CEP">CEP:</label>
            <input type="text" id="CEP" formControlName="CEP" required>

            <label for="endereco">Endereço:</label>
            <input type="text" id="endereco" formControlName="endereco">

            <label for="bairro">Bairro:</label>
            <input type="text" id="bairro" formControlName="bairro">

            <label for="cidade">Cidade:</label>
            <input type="text" id="cidade" formControlName="cidade">

            <label for="telefone">Telefone:</label>
            <input type="text" id="telefone" formControlName="telefone">

            <label for="email">Email:</label>
            <input type="email" id="email" formControlName="email">
            
            <button type="submit" class="btn btn-outline-info btn-sm"(click)="CadastrarCliente()" (click)="confirmaCadastro()" (click)="close()" >Cadastro</button>
            <button type="reset" class="btn btn-outline-info btn-sm"(click)="close()">Cancelar</button>

        </form>
    </div>
</body>
</html>