body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    background-color: #fff;
    max-width: 600px;
    margin: 10px auto;
    padding: 100px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

form {
    display:flex;
    flex-direction: column;
}

label {
    font-weight: bold;
}

input, select, button {
    padding: 5px;
    margin: 5px 0;
}