<head>
  <link rel="stylesheet" href="cliente.component.css">
</head>
<div class="p-5">
  <div class="container shadow p-5">
    <div class="p-5 border border-light rounded">
      <h2>Lista de Clientes</h2>
      <button type="submit" class="btn btn-outline-info btn-lg" (click)="openForm()">Novo</button>
      <div class="container">
        <div class="pt-5 row" *ngIf="clientes.length >= 0">
          <div class="row">
            <table class="col-12" mat-table [dataSource]="clientes">
              <ng-container matColumnDef="clienteId">
                <th mat-header-cell *matHeaderCellDef>Código</th>
                <td mat-cell *matCellDef="let cliente">
                  {{ cliente.clienteId }}
                </td>
              </ng-container>
        
              <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef>Nome</th>
                <td mat-cell *matCellDef="let cliente">
                  {{ cliente.nome }}
                </td>
              </ng-container>
        
              <ng-container matColumnDef="endereco">
                  <th mat-header-cell *matHeaderCellDef>Endereço</th>
                  <td mat-cell *matCellDef="let cliente">
                      {{ cliente.endereco }}
                  </td>
              </ng-container>
  
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef>email</th>
                <td mat-cell *matCellDef="let cliente">
                  {{ cliente.email }}
                </td>
              </ng-container>
                    
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
          </div>
        </div>
      </div> 
    </div>
  </div>
</div>
