.p-5 {
    font-size: 100px; /* Altere o tamanho da fonte conforme necessário */
}

h2{
    font-size: 50px; /* Altere o tamanho da fonte conforme necessário */
}

th{
    font-size: 30px; /* Altere o tamanho da fonte conforme necessário */
}

td{
    font-size: 20px; /* Altere o tamanho da fonte conforme necessário */
}